body {
  margin: 0;
  font-family: 'Product Sans', Arial, sans-serif;
  font-size: 13px; }

form input, form select {
  font-size: 1.2em;
  padding: 10px; }

.per {
  font-size: 0.6em; }

p {
  font-size: 1.1em;
  margin-bottom: 0; }

.container {
  text-align: Center;
  width: 550px;
  margin: 0 auto;
  margin-bottom: 170px;
  box-sizing: border-box; }

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 20px; } }

.form-container {
  display: inline-block;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 20px; }

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 130px;
  background: #F7E57C; }

.bill-form {
  transition: background-color 0.5s ease;
  margin-top: 25px;
  overflow: hidden; }
  .bill-form:first-of-type {
    margin-top: 0; }
  .bill-form input, .bill-form select, .bill-form .yearlyTotal {
    float: left;
    display: block; }

.form-input {
  border: none;
  border-bottom: 1px solid #000;
  margin-right: 3.5%; }

.cycle {
  border: none;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  width: 28%; }

input {
  box-sizing: border-box; }

.yearlyTotal {
  width: 100%;
  box-sizing: border-box;
  display: block;
  transition: background-color 0.5s ease;
  height: 0;
  opacity: 0;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold; }

input[name="billName"] {
  width: 100px;
  width: 45%;
  font-weight: bold; }

input[name="billTotal"] {
  width: 40px;
  text-align: center;
  width: 20%; }

.add {
  display: block;
  width: 100%;
  margin-top: 10px;
  background: #323232;
  color: #fff;
  padding: 10px 0;
  font-size: 1.1em;
  cursor: pointer;
  border: none;
  transition: background-color 0.5s ease; }
  .add:hover {
    background: #000;
    border-radius: 3px; }

.totalExpense {
  font-size: 1.9em;
  text-align: center; }

.totalYearly {
  text-align: center;
  display: block;
  font-size: 1.5em;
  font-weight: bold; }

.highlight {
  background: #fff6c1;
  transition: all 0.6s ease;
  height: auto;
  opacity: 1;
  padding: 15px 20px;
  border-bottom: 1px solid #000; }
